.content {
    width: 100%;
    background-color: #FEFEFE;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    box-shadow: rgb(0 0 0 / 2%) 0px 3px 6px, rgb(0 0 0 / 3%) 0px 3px 6px;

    .content_title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        i {
            color: #BCBCBC;
        }

        h4 {
            color: #3A3A3A;
        }
    }

    p {
        color: #BCBCBC;
        font-size: 13px;
        margin: 20px 0px;
    }

    .person_icone {
        display: flex;
        position: relative;

        .span_1 {
            color: #FEFEFE;
            background-color: #EE8027;
            width: 32px;
            height: 32px;
            display: inline-block;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 13px;
            border: 2px solid #FEFEFE;
        }

        .span_2 {
            color: #FEFEFE;
            background-color: #9167F2;
            width: 32px;
            height: 32px;
            display: inline-block;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 13px;
            border: 2px solid #FEFEFE;
            position: absolute;
            left: 19px;
        }

        .span_3 {
            background-color: #FAD350;
        }

        .span_4 {
            background-color: #4DC543;
        }

        .span_5 {
            background-color: #3D59D5;
        }
    }
}